<ul class="post-list-homepage">
{% for post in site.posts %}
  <li>
    <a class="post-list-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <time class="post-list-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time>
  </li>
{% endfor %}
</ul>
